flows.json
[{"id":"da9375fc.ce4c38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"843ceef9.69e3c","type":"ibmiot in","z":"da9375fc.ce4c38","authentication":"apiKey","apiKey":"8d1990c.b9cb27","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"node_dev","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":210,"y":200,"wires":[["a2c3e4ed.9daa78","1d13822d.d8bdae","3f22a470.bbf02c","27d7b464.13cc9c"]]},{"id":"a2c3e4ed.9daa78","type":"debug","z":"da9375fc.ce4c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":120,"wires":[]},{"id":"1d13822d.d8bdae","type":"ui_gauge","z":"da9375fc.ce4c38","name":"","group":"b0329b3a.157ad8","order":2,"width":0,"height":0,"gtype":"gage","title":"pulse","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":240,"wires":[]},{"id":"3f22a470.bbf02c","type":"ui_gauge","z":"da9375fc.ce4c38","name":"","group":"ded098e8.6b46d8","order":3,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":320,"wires":[]},{"id":"27d7b464.13cc9c","type":"ui_gauge","z":"da9375fc.ce4c38","name":"","group":"f4311529.b45a58","order":4,"width":0,"height":0,"gtype":"gage","title":"heartrate","label":"units","format":"{{msg.payload.heartrate}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":400,"wires":[]},{"id":"3b1fd8e2.5753d8","type":"cloudant out","z":"da9375fc.ce4c38","name":"","cloudant":"","database":"iotdata","service":"ndrd-cloudant-1601446402577-56968","payonly":true,"operation":"insert","x":690,"y":60,"wires":[]},{"id":"8d1990c.b9cb27","type":"ibmiot","z":"","name":"newapi","keepalive":"60","serverName":"b9k1wa.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b0329b3a.157ad8","type":"ui_group","z":"","name":"pulse","tab":"6a598ccd.7efe74","order":1,"disp":true,"width":"6","collapse":false},{"id":"ded098e8.6b46d8","type":"ui_group","z":"","name":"temperature","tab":"6a598ccd.7efe74","order":3,"disp":true,"width":"6","collapse":false},{"id":"f4311529.b45a58","type":"ui_group","z":"","name":"heartrate","tab":"6a598ccd.7efe74","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a598ccd.7efe74","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]